<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Wiki-Map</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/editPinForm.css" />



  <!-- Icons and Buttons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- External JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script async
  src="https://maps.googleapis.com/maps/api/js?v=beta&key=<%=key%>&libraries=places,marker&callback=initMapView">
  </script>

  <!-- App JS -->
  <script defer src="/scripts/app.js"></script>

  <script>
    const mapData = {
      id: Number("<%= map.id %>"),
      lat: <%= map.latitude %>,
      lng: <%= map.longitude %>,
      zoom: <%= map.zoom %>
    }
  </script>
</head>

<body>
<%- include('partials/_header') %>
  <main>
    <div id="user-landing-page">
    </div>
    <div class="title">
    <h2 class="map-name"><%= map.title %></h2>
  </div>
  <!-- form -->
  <div class="pin-info-window" style="display: none">
    <form id="pindrop-form" method="POST" action="/api/pins">
      <input type="hidden" name="lat">
      <input type="hidden" name="lng">
      <label for="title">Pin title:</label>
      <textArea id="title" name="title" rows="1" cols="29%" required></textArea><br><br>
      <label for="description">Pin description:</label>
      <textArea id="description" name="description" rows="1" cols="23%"></textArea><br><br>
      <label for="img">Image URL</label>
      <textArea id="img" name="img" rows="1"></textArea><br><br>
      <footer>
        <button id="create_pin_button" type="submit" form="pindrop-form">Create</button>
        <button id="edit_pin_button" type="submit" form="pindrop-form">Save Changes</button>
        <button id="delete_pin_button" type="submit" form="pindrop-form">Delete</button>
        <button id="cancel_pin_button" name="remove-marker" class="remove-marker">Cancel</button>
      </footer>
    </form>
  </div>
    <!-- map -->
    <div id="map"></div>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box"
    />



    <button class="open-button">Save New Map</button>
    <div class="save-map-form-window" id="save_map" style="display: none">
      <form method="POST" action="/api/maps" class="map-form-container">
        <input type="hidden" name="lat">
        <input type="hidden" name="lng">
        <input type="hidden" name="zoom">
        <label for="title"><b>Map name</b></label>
        <input type="text" name="title" required></input>
        <label for="description"><b>Map category</b></label>
        <input type="text" name="category" required></input>
        <button type="submit" id="save-map-btn" class="btn"><b>Save</b></button>
        <button type="button" name="remove-map" class="btn-cancel"><b>Cancel</b></button>
      </form>
    </div>






  </main>
</body>

</html>
