<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maps</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/myMaps.css" />
  <link rel="stylesheet" href="/styles/header.css" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/favourite.js"></script>



  <!-- update -->
</head>

<body>
  <%- include('partials/_header') %>
  <h1><%= title %></h1>
  <main class="container">

      <section class="cards-container">
          <% for (let map of maps) { %>

            <div class="card" >
            <img src="https://picsum.photos/200/100" alt="trial image">
              <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= map.latitude %>,<%= map.longitude %>&zoom=<%= map.zoom %>&size=200x200&key=AIzaSyDZwkpyS2wjI8ak01aR4vc8c8dz7FT5JuE" alt="map-img"> -->

              <div class="card-text">
                <a href="/maps/<%= map.id %>"><h3 class="card-title"><%= map.title %></h3></a>
                <% if (map.isFav) { %>
                <i class="fa-solid fa-heart"></i>
                <% } else { %>
                  <i class="fa-regular fa-heart"></i>
                <% } %>
              </div>

          </div>
        </a>
          <% } %>

        </section>

</main>
</body>

</html>
