<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Maps</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/myMaps.css" />
  <link rel="stylesheet" href="/styles/header.css" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <!-- update -->
</head>

<body>
  <%- include('partials/_header') %>
  <h1>My Maps</h1>
  <main class="container">

      <section class="cards-container">
          <% for (let map in maps) { %>
          <div class="card">
            <img src="https://picsum.photos/100" alt="trial image">
              <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= maps[map].latitude %>,<%= maps[map].longitude %>&zoom=<%= maps[map].zoom %>&size=200x200&key=AIzaSyCl71N9D-01p0RFxUxmSkcBOnbiZzFN8iA" alt="map-img"> -->

              <div class="card-text">
                <h5 class="card-title"><%= maps[map].title %></h5>
              </div>
          </div>
          <% } %>
        </section>

    <section class="container-my-favs">

    </section>
</main>
</body>

</html>
