<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <header class="profile-header" >
    <div class="picture">
      <img src="https://picsum.photos/id/103/100" alt="avatar">
    </div>
    <div class="user">
      <h3 class="name"><%= user.name %></h3>
      <h5 class="email"><%= user.email %></h5>
    </div>
  </header>
  <div id="user-links">
      <div class="user-pins">
        <span><i class="fa-solid fa-map-pin"></i><a href="/api/users/<%= user.id %>/pins">My Pins</a></span>
      </div>
      <div class="user-maps">
        <span><i class="fa-solid fa-globe"></i><a href="/api/users/<%= user.id %>/maps">My Maps</a></span>
      </div>
      <div class="favourites">
        <span><i class="fa-solid fa-heart"></i><a href="/favourites/<%= user.id %>">Favourites</a></span>
      </div>
       <div class="favourites">
        <span><i class="fa-solid fa-magnifying-glass"></i><a href="/">Find a Map</a></span>
      </div>
  </div>
</body>

</html>
